.buttonStyle{
    background-color: white;
    border: 0px;
    padding:5%
}
.gameHeadings{
    text-align: center;
    color: #28a688;
    font-family: cursive;
}
@keyframes XODisplay{
    from {font-size: 0%;}
    to {font-size: xx-large;}
}
.XODisplay{
    animation-name:XODisplay;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}