<h1 class="gameHeadings">Tic Toe Game</h1>
<div class="winnerWrapper" *ngIf="gameOver" (click)="reset()">
  <h1 class="winnerDisplay" *ngIf="!tieFlag;else tie_content">{{players[currentPlayer]}} wins!! <br><p style="font-size: 20px;"> Please click anywhere to start a new game</p></h1>
  <ng-template #tie_content><h1 class="winnerDisplay">It's a TIE!! <br><p style="font-size: 20px;"> Please click anywhere to start a new game</p></h1></ng-template>
</div>
<h3 class="gameHeadings" *ngIf="!winnerFlag;else winner_content">{{players[currentPlayer]}}'s Turn</h3>
<ng-template #winner_content><h3 class="gameHeadings XODisplay">Game Over!</h3></ng-template>
<div class="tableContainer">
  <div *ngFor="let data of multi; let i=index">
    <div *ngFor="let num of data; let j=index" class="innerDiv" (click)="buttonClick(i,j)" id="{{''+i+j}}">
    </div>
  </div>
</div>